<form action="/new" method="post">
  <label for="title">Title: <input type="text" name="title" /></label>
  <label for="description">Description:
    <input type="text" name="description" /></label>
  <label for="date">Date: <input type="date" name="date" /></label>
</form>